<section class="container">

  <form class="formulario">
    <h2 class="formulario__titulo">Nova transferência</h2>
    <div class="form-field">
      <label class="form-field__label" for="valor">Valor</label>
      <input class="form-field__input" type="text" id="valor">
    </div>
    <div class="form-field">
      <label class="form-field__label" for="destino">Destino</label>
      <input class="form-field__input" type="destino" id="valor">
    </div>

    <div class="botao-wrapper">
      <button class="botao" >transferir</button>
    </div>

  </form>

</section>
